<% provide(:title, 'About Us') %>
<h1>About Us</h1>

<p>
<a href="http://tranquil-headland-5582.herokuapp.com/">Lifecastor</a> is a product made by <a href="http://rubyonrails.org/">Zolutions LLC</a>.
</p>

<p>Please send comments and report issues to John at <a href="mailto:john@zolutionsllc.com">john@zolutionsllc.com</a>.</p>
