<% provide(:title, 'Home') %>
<h1>Lifecastor App</h1>
<p>Welcome to Lifecastor!</p>
<p>
  This is the home page for the <a href="http://tranquil-headland-5582.herokuapp.com/">Lifecastor</a> application.
</p>
