<div class="center hero-unit">
  <h1>Lifecastor TEST Site!</h1>

  <h2>
    This is the home page for the Lifecastor application. <br />
    Your information entered can be lost because this site is still under construction. <br />
    Thanks for testing the site. <br />
    Please report issues or send comments to john@zolutionsllc.com.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>

